<div>
  <tr>
    <td>
      <div class="tasks-list-item-buttons">
        <%= button_to 'Remove', task_path(:id => task.id), { :method => :delete }  %>
        <%= button_to 'Edit', edit_task_path(task), { :method => :get }  %>
        <% if task_status == :InProgress %>
          <%= button_to 'Done', task_path(:id => task.id, :new_status => :Done), { :method => :put } %>
        <% end %>
        <% if task_status == :Open %>
          <%= button_to 'Start', task_path(:id => task.id, :new_status => :InProgress), { :method => :put } %>
        <% end %>
      </div>
    </td>
    <% if task.status != 'Done' %>
      <% if !task.expiring? and !task.passed? %>
        <td class="tasks-list-section-row-days-left-good">(-<%= task.days_left %>)</td>
      <% end %>

      <% if task.expiring? %>
        <td class="tasks-list-section-row-days-left-expiring">(<%= task.days_left %>)</td>
      <% end %>

      <% if task.passed? %>
        <td class="tasks-list-section-row-days-left-passed">(+<%= -task.days_left %>)</td>
      <% end %>
    <td class="tasks-list-section-row-priority"><%= task.priority %></td>
    <% end %>

    <td class="tasks-list-section-row-description"><%= task.description %></td>
  </tr>
</div>
