<div>
  <tr>
    <td>
      <div class="tasks-list-item-buttons">

        <%= form_for task, :method => :delete do |f| %>
          <%= image_submit_tag("trash.png", :width => "24", :height => "24") %>
        <% end %>

        <% if task_status == :InProgress %>
          <%= form_for task, :method => :get, :url => edit_task_path(:id => task.id) do |f| %>
            <%= image_submit_tag("edit.png", :width => "24", :height => "24") %>
          <% end %>

          <%= form_for task, :method => :put, :url => task_path(:id => task.id, :new_status => :Done) do |f| %>
            <%= image_submit_tag("done.png", :width => "24", :height => "24") %>
          <% end %>
        <% end %>

        <% if task_status == :Open %>
          <%= form_for task, :method => :get, :url => edit_task_path(:id => task.id) do |f| %>
            <%= image_submit_tag("edit.png", :width => "24", :height => "24") %>
          <% end %>

          <%= form_for task, :method => :put, :url => task_path(:id => task.id, :new_status => :InProgress) do |f| %>
            <%= image_submit_tag("start.png", :width => "24", :height => "24") %>
          <% end %>
        <% end %>

      </div>
    </td>
    <% if task.status != 'Done' %>
      <td class="tasks-list-section-row-priority"><%= task.priority %></td>
    <% end %>

    <td class="tasks-list-section-row-description"><%= task.description %></td>
  </tr>
</div>
