<div id = "tasks-navbar">
  <ul>
    <li><%= link_to 'New Task', new_task_path %></li>
  </ul>
</div>

<div id = "tasks-list">
  <table>

    <% @tasks.each do |task| %>
    <tr class = "tasks-list-item">
      <td><%= button_to 'Remove', task_path(:id => task.id), :method => :delete %></td>
      <td/>
      <td><%= task.priority %></td>
      <td><%= task.status %></td>
      <td><%= task.deadline %></td>
      <td><%= task.description %></td>
    </tr>
    <% end %>
  </table>
</div>
