<div id = "tasks-header">
  <%= image_tag("to_do_list_checked2.png", :alt => "Yet Another TODO App") %>
  <h1>Current Tasks</h1>
</div>

<div id = "tasks-navbar">
  <ul>
    <li><%= link_to 'New Task', new_task_path %></li>
  </ul>
</div>

<div id = "tasks-list">
  <table>
    <tr class = "tasks-list-header">
      <th>Key</th>
      <th>Name</th>
      <th>Description</th>
      <th>Priority</th>
      <th>Deadline</th>
      <th>Status</th>
    </tr>

    <% @tasks.each do |task| %>
    <tr>
      <td><%= task.key %></td>
      <td><%= task.name %></td>
      <td><%= task.description %></td>
      <td><%= task.priority %></td>
      <td><%= task.deadline %></td>
      <td><%= task.status %></td>
    </tr>
    <% end %>
  </table>
</div>
